<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.sunnybrook"
      android:installLocation="auto" android:versionName="4.0" android:versionCode="85">
    <application android:name ="MainApp" android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name="WIFIApp" android:label="@string/app_name" android:icon="@drawable/icon">
            <intent-filter>
	            <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
    	</activity>
    	<activity android:name="SettingsActivity"></activity>
    	<activity android:name="OwnordersActivity"></activity>
    	<activity android:name="SuperordersActivity"></activity>
    	<activity android:name="CraftordersActivity"></activity>
    	<activity android:name="UpdateordersActivity"></activity>
    	<activity android:name="SyslogActivity"></activity>
    	<activity android:name="SuperOrderDetailActivity"
    			  android:theme="@android:style/Theme.Dialog" />
    	<activity android:name="OwnOrderDetailActivity"
    			  android:theme="@android:style/Theme.Dialog" />
    	<activity android:name="CraftOrderDetailActivity"
    			  android:theme="@android:style/Theme.Dialog" />
    	<activity android:name="UpdateOrderDetailActivity"
    			  android:theme="@android:style/Theme.Dialog" />
    	<service  android:name=".WIFISyncService"
      			  android:process=":remote" >
      		<intent-filter>
                <action android:name="com.sunnybrook.WIFISyncService" />
      		</intent-filter>
    	</service>
	</application>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-sdk android:minSdkVersion="8" />
    <supports-screens android:largeScreens="true" android:normalScreens="true" android:anyDensity="true" />
</manifest> 